*
{
	margin:0;
	padding:0;
}
body
{
	background-color: #f1f3f4;
	font-family: sans-serif;
}

.logo
{
	height:55px;
	margin:5px 10px ;
}
.top-nav-bar
{
	height:60px;
	top:0;
	position:sticky;
	background:#fff;
	margin-bottom: 20px;
	border-bottom: 3px solid brown;

}
.search-box
{
	position:absolute;
	top:50%;
	left:45%;
	transform: translate(-50%,-50%);
	background: brown;
	height:28px;
	border-radius: 40px;
	padding:10px;
}
.search-btn
{
	color:black;
	float:right;
	width:30px;
	height:30px;
	border-radius: 50%;
	background: brown;
	display:flex;
	justify-content: center;
	align-items: center;
}
.search-txt
{
	border:none;
	background: none;
	outline:none;
	float:left;
	padding:0;
	color:black; 
	font-size: 16px;
	transition: 0.4s;
	line-height: 30px;
	width:240px;
}
.menu-bar
{
	width:40%;
	height:57px;
	float:right;
}
.menu-bar ul
{
	display:inline-flex;
	float:right;
}
.menu-bar ul li
{
	border-left:1px solid #fff;
	list-style-type:none;
	padding:11px 30px;
	text-align: center;
	cursor:pointer;
}
.menu-bar ul li a
{
	font-size: 16px;
	font-weight: bold;
	color:brown;
	text-decoration: none;
}
.menu-bar ul li a:hover
{
	color:black;
}
.navbar
{
	position:sticky;
}

.main-nav
{
	height:47px;
	border-bottom: 1px solid brown;
} 
.main-nav ul
{
	list-style: none;
} 
.main-nav ul li
{
	float:left;
	width:180px;
	height:30px;
	background-color: #fff;
	padding-left: 10px;
	line-height: 30px;
	text-align: center;
	font-size: 16px;
	margin-right: 3px;
} 
.main-nav ul li a
{
	text-decoration: none;
	color:brown;
	display:block;
} 
.main-nav ul li a:hover
{
	color: black;
} 
.main-nav ul li ul li
{
	display:none;
}
.main-nav ul li:hover ul li
{
	display: block;
}
.chaks
{
	width:1350px;
	height:500px;
}
h1
{
   font-size: 5em;
   top:45%;
   left: 50%;
   margin:0;
   padding: 0;
   text-align: center;
   position: absolute;
   transform: translateX(-50%) translateY(-50%);
   color:black;
}
.button
{
    top:67%;
    left:40%;
    position:absolute;
 }
 .btn
{
	border:1px solid brown;
	padding:10px 30px;
	color:black;
	text-decoration:none;
    margin right:5px;
	font-size:13px;
	text-transform:uppercase;

       }
.btn-two
   {
    background-color:brown;
    }
.btn-one:hover
{
	background-color:brown;
   }
.title
{
	text-align: center;
	font-size: 40px;
	padding:20px;
}
.container{
    width: 100%;
	height: auto;
	display:inline-block;

}
.image
{
	width:20%;
	height:300px;
	float: left;
	margin-left: 1.5%;
	padding:10px;

}
.image img
{
	width:100%;
	height:100%;
}
.image p
{
	text-align: center;
	font-size: 20px;
	padding: 5px;
}
.image h5
{
	text-align: center;
	font-size:15px;
}
.burgers{
    width: 100%;
	height: auto;
	display:inline-block;
	padding-top:40px;

}
.image1
{
	width:20%;
	height:300px;
	float: left;
	margin-left: 1.5%;
	padding:10px;

}
.image1 img
{
	width:100%;
	height:100%;
}
.image1 p
{
	text-align: center;
	font-size: 20px;
	padding: 5px;
}
.image1 h5
{
	text-align: center;
	font-size:16px;
}

.everything{
    width: 100%;
	height: auto;
	display:inline-block;
	padding-top:40px;

}
.image2
{
	width:20%;
	height:300px;
	float: left;
	margin-left: 1.5%;
	padding:10px;

}
.image2 img
{
	width:100%;
	height:100%;
}
.image2 p
{
	text-align: center;
	font-size: 20px;
	padding: 5px;
}
.image2 h5
{
	text-align: center;
	font-size:16px;
}
.overlay-right
{
    display:inline-block;

}
.overlay-right ul
{
   position:absolute;
}
































